@{
    ViewBag.Title = "John Hennessey";
}

<body>
    <div id="wrapper">
        <h1 id="myname">John Hennessey</h1>
        <hr id="rule" />
        <nav id="mainnav">
            <a href="">Projects</a>
            <a href="">Resume</a>
            <a href="">About</a>
        </nav>
    </div>
</body>